/* general styles */
@import "../../styles/vars.scss";

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");

.showArticlesButton {
  display: flex;
  margin: 15px auto;

  @include general_button_styles;

  padding: 5px 20px;
  height: 35px;
  line-height: 1.5;
}

.posts {
  // width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.count {
  text-align: center;
}
