$background-app-color: #ebeef3;
$white-color: #fff;
$black-color: #000;
$unset-param: unset;
$button-main-color: #393939;
$button-hover-color: #1890ff;
$pagination-color: lightgrey;

@mixin flex_between {
  display: flex;
  justify-content: space-between;
}

@mixin flex_center {
  display: flex;
  justify-content: center;
}

@mixin flex_around {
  display: flex;
  justify-content: space-around;
}

@mixin general_button_styles {
  font-size: 16px;
  color: $white-color;
  background-color: $button-main-color;
  border-radius: 9999px;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  text-align: center;

  &:hover {
    background-color: $button-hover-color;
    cursor: pointer;
  }
}
