/* general styles */
@import "../../styles/vars.scss";

/* fonts */
@import "../../styles/fonts.scss";

:root {
  --article-title-color: #1890ff;
  --post-margin-bottom: 3vh;
  --post-paddings: 10px 30px;
}

h2 {
  color: var(--article-title-color);
}

.single__post {
  @include flex_between;
  align-items: center;
  margin-top: 150px;

  font-family: "Bad Script", cursive;

  padding: var(--post-paddings);
  margin-bottom: var(--post-margin-bottom);
  background-color: $white-color;
  box-shadow: 0px 4px 12px 0px #00000026;

  .like-post__btn {
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }

  .single-post__header {
    display: flex;
    align-items: center;
    gap: 15px;

    img {
      margin: 15px 0 10px 0;
      width: 30px;
      height: 30px;
    }

    .single-post__title {
      margin: 15px 0 10px 0;
    }
  }

  .single-post__despription {
    font-size: 20px;
  }

  .functional__btns {
    height: 80px;
  }
}

.single-post__section > button {
  margin: 0 42%;
}
